<nav class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" routerLinkActive="" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a routerLink="/projects" routerLinkActive="" class="nav-link">Projects</a>
    </li>
    <li class="nav-item">
      <a routerLink="/resume" routerLinkActive="" class="nav-link">Resume</a>
    </li>
    <li class="nav-item fork-btn">
          <a href="https://github.com/kirankrishnadoss" target="_blank" class="btn fork-btn-inner">
            <span class="icon">⑂</span>
            <span class="icon">⭐</span>
          </a>
        </li> 
  </ul>
</nav>



